<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.adflow.pms.domain.mapper.CDRMapper">

	<resultMap id="CDRResult" type="kr.co.adflow.pms.domain.CDR">
		<result property="updateTime" column="update_time" />
		<result property="pmaAckTime" column="ack_time" />
		<result property="issueId" column="issue_id" />
		<result property="receiverTopic" column="receiver_topic" />
		<result property="mediaType" column="media_type" />
		<result property="sendTerminalType" column="send_terminal_type" />
		<result property="msgSize" column="msg_size" />
		<result property="groupId" column="group_id" />
		<result property="tokenId" column="token_id" />
		<result property="msgType" column="msg_type" />
		<result property="issueTime" column="issue_time" />
	</resultMap>



	<select id="getCDRList" parameterType="kr.co.adflow.pms.domain.CDRParams"
		resultMap="CDRResult">
		SELECT a.update_time
		, a.msg_id
		, b.ack_time
		, a.issue_id,
		a.receiver_topic
		, a.media_type
		, a.send_terminal_type
		, a.msg_size
		,
		a.group_id
		, a.msg_type
		, b.token_id

		FROM
		pms.message${keyMon} a,
		pms.ack${keyMon} b

		WHERE a.msg_id = b.msg_id
		AND a.msg_type = 106
		AND
		a.status = 1
		AND b.ack_type = 'pma'
		AND a.update_time <![CDATA[>=]]>
		#{startDate}
		AND a.update_time <![CDATA[<]]>
		#{endDate}
		ORDER BY a.update_time
		limit #{startRow}, #{lengthRow}
	</select>

	<select id="getCDRListTotalCnt" parameterType="kr.co.adflow.pms.domain.CDRParams"
		resultType="Integer">
		SELECT COUNT(*)

		FROM
		pms.message${keyMon} a, pms.ack${keyMon} b

		WHERE
		a.msg_id = b.msg_id
		AND a.msg_type = 106
		AND a.status = 1
		AND b.ack_type
		= 'pma'
		AND a.update_time <![CDATA[>=]]>
		#{startDate}
		AND a.update_time <![CDATA[<]]>
		#{endDate}
	</select>


	<select id="getCDRList2" parameterType="kr.co.adflow.pms.domain.CDRParams"
		resultMap="CDRResult">
		SELECT a.update_time
		, a.msg_id
		, b.ack_time
		, a.issue_id
		, b.issue_time,
		a.receiver_topic
		, a.media_type
		, a.send_terminal_type
		, a.msg_size
		,
		a.group_id
		, a.msg_type
		, b.token_id

		FROM
		pms.message${keyMon} a,
		pms.ack${keyMon} b

		WHERE a.msg_id = b.msg_id
		AND a.status = 1
		AND
		a.msg_type IN (10,106)
		AND b.ack_type = 'pma'
		AND a.update_time <![CDATA[>=]]>
		#{startDate}
		AND a.update_time <![CDATA[<]]>
		#{endDate}
		ORDER BY a.update_time
		limit #{startRow}, #{lengthRow}
	</select>




	<select id="getCDRListTotalCnt2" parameterType="kr.co.adflow.pms.domain.CDRParams"
		resultType="Integer">
		SELECT COUNT(*)

		FROM
		pms.message${keyMon} a, pms.ack${keyMon} b

		WHERE
		a.msg_id = b.msg_id
		AND a.status = 1
		AND a.msg_type IN (10,106)
		AND
		b.ack_type = 'pma'
		AND a.update_time <![CDATA[>=]]>
		#{startDate}
		AND a.update_time <![CDATA[<]]>
		#{endDate}
	</select>


</mapper>	