<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.adflow.pms.domain.mapper.CtlQMapper">

	<resultMap id="CtlQResult" type="kr.co.adflow.pms.domain.CtlQ">
		<result property="exeType" column="exe_type" />
		<result property="tableName" column="table_name" />
		<result property="msgId" column="msg_id" />
		<result property="issueTime" column="issue_time" />
		<result property="issueId" column="issue_id" />
		<result property="serverId" column="server_id" />
	</resultMap>

	<insert id="insertQ" parameterType="kr.co.adflow.pms.domain.CtlQ">
		INSERT INTO pms.ctl_q
		(exe_type
		,table_name
		,msg_id
		,issue_time
		,issue_id
		,server_id
		)
		values(
		#{exeType},
		#{tableName},
		#{msgId},
		#{issueTime},
		#{issueId},
		#{serverId}
		)
	</insert>
	
	<select id="fetchQ" parameterType="kr.co.adflow.pms.domain.CtlQ" resultMap="CtlQResult">
		SELECT exe_type
		, table_name
		, msg_id
		, issue_time
		, issue_id
		, server_id
		FROM pms.ctl_q
		WHERE exe_type = #{exeType}
		AND server_id = #{serverId} 
		ORDER BY issue_time ASC
		limit 1
	</select>
	
	<delete id="deleteQ" parameterType="String">
		DELETE FROM pms.ctl_q
		WHERE msg_id = #{msgId} 
	</delete>
</mapper>	