<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.adflow.pms.domain.mapper.DeviceMapper">

	<resultMap id="deviceResult" type="kr.co.adflow.pms.domain.Device">
		<result property="deviceId" column="device_id" />
		<result property="deviceInfo" column="device_info" />
		<result property="userId" column="user_id" />



	</resultMap>

	<insert id="insertDevice" parameterType="kr.co.adflow.pms.domain.Device">
		INSERT INTO pms.device
		(device_id
		,device_info
		,user_id

		)
		values(
		#{deviceId},
		#{deviceInfo},
		#{userId}

		)
	</insert>

	<delete id="deleteDevice" parameterType="String">
		DELETE FROM pms.device
		WHERE device_id = #{deviceId}
	</delete>

</mapper>	