<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.adflow.pms.domain.mapper.MessageMapper">

	<resultMap id="MessageResult" type="kr.co.adflow.pms.domain.Message">
		<result property="serverId" column="server_id" />
		<result property="msgId" column="msg_id" />
		<result property="msgType" column="msg_type" />
		<result property="senderId" column="sender_id" />
		<result property="receiver" column="receiver" />
		<result property="reservationTime" column="reservation_time" />
		<result property="ack" column="ack" />
		<result property="status" column="status" />
		<result property="serviceId" column="service_id" />
		<result property="qos" column="qos" />
		<result property="expiry" column="expiry" />
		<result property="retained" column="retained" />
		<result property="contentType" column="content_type" />
		<result property="content" column="content" />
		<result property="issueTime" column="issue_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="select" parameterType="String"
		resultType="kr.co.adflow.pms.domain.Message">
		SELECT a.msg_id, a.msg_type, a.sender_id, a.receiver,
		a.status, a.service_id,  a.qos, a.expiry, a.retained, a.ack,
		a.reservation_time, a.issue_time, a.update_time,
		b.content_type, b.content
		FROM message a, content b
		WHERE a.msg_id = b.msg_id
		and
		a.msg_id = #{msgId}
	</select>

	<select id="selectList" parameterType="Map"
		resultMap="MessageResult">
		SELECT a.msg_id, a.msg_type, a.sender_id, a.receiver,
		a.status, a.service_id,  a.qos, a.expiry, a.retained, a.ack,
		a.reservation_time, a.issue_time, a.update_time,
		b.content_type, b.content
		FROM message a, content b
		WHERE a.msg_id = b.msg_id
		AND a.status = 0
		AND a.server_id = #{serverId}
		ORDER BY issue_time ASC
		limit #{limit}
	</select>


	<update id="updateStatus" parameterType="kr.co.adflow.pms.domain.Message">
		UPDATE  message
		SET status = #{status}, update_time = #{updateTime}
		WHERE msg_id = #{msgId}
	</update>

	<insert id="insertMessage" parameterType="kr.co.adflow.pms.domain.Message">
		INSERT INTO message
		(msg_id
		,msg_type
		,sender_id
		,receiver
		,status
		,service_id
		,qos
		,expiry
		,ack
		,retained
		,reservation_time
		,issue_time
		,update_time
		,server_id
		)
		values(
		#{msgId},
		#{msgType},
		#{senderId},
		#{receiver},
		#{status},
		#{serviceId},
		#{qos},
		#{expiry},
		#{ack},
		#{retained},
		#{reservationTime},
		now(),
		now(),
		#{serverId}
		)
	</insert>
	<insert id="insertContent" parameterType="kr.co.adflow.pms.domain.Message">
		INSERT INTO content
		(msg_id
		,content_type
		,content
		)
		values(
		#{msgId},
		#{contentType},
		#{content}
		)
	</insert>

</mapper>	