<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.adflow.pms.domain.mapper.TableMgtMapper">


	<select id="selectMessage" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM pms.message${value}
	</select>
	
	<update id="createMessage" parameterType="String">
		CREATE TABLE pms.message${value} (
		  msg_id varchar(50) NOT NULL ,
		  group_id varchar(50) DEFAULT NULL,  
		  msg_type int(10) unsigned DEFAULT NULL,
		  receiver varchar(50) DEFAULT NULL,
		  receiver_topic varchar(50) DEFAULT NULL,
		  service_id varchar(100) DEFAULT NULL,
		  is_ack BOOLEAN DEFAULT NULL,
		  status tinyint(1)  DEFAULT NULL,
		  is_reservation BOOLEAN DEFAULT false,
		  reservation_time datetime DEFAULT NULL,
		  resend_count int(10) unsigned DEFAULT NULL,
		  resend_max_count int(10) unsigned DEFAULT NULL,
		  resend_interval int(10) unsigned DEFAULT NULL,
		  resend_id varchar(50) DEFAULT NULL,
		  server_id varchar(10) DEFAULT NULL,
		  expiry int(10) unsigned DEFAULT NULL,
		  qos tinyint(1) unsigned DEFAULT NULL,
		  retained tinyint(1) DEFAULT NULL,
		  media_type tinyint(1)  DEFAULT NULL,
		  send_terminal_type tinyint(1)  DEFAULT NULL,
		  msg_size int(11) unsigned DEFAULT NULL,
		  issue_time datetime DEFAULT NULL,
		  issue_id VARCHAR(100),
		  update_time datetime DEFAULT NULL,
		  update_id VARCHAR(100),
		  PRIMARY KEY (msg_id),
		  INDEX mindex${value} (server_id,status,issue_time )
		) ENGINE=InnoDB AUTO_INCREMENT=395 DEFAULT CHARSET=utf8
	</update>
	
	<select id="selectContent" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM pms.content${value}
	</select>
	
	<update id="createContent" parameterType="String">
		CREATE TABLE pms.content${value} (
		   msg_id varchar(50) NOT NULL ,
		  content mediumtext,
		  content_type varchar(50) DEFAULT NULL,
		  PRIMARY KEY (msg_id)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8
	</update>
	
	<select id="selectGroupMessage" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM pms.group_msg${value}
	</select>
	
	<update id="createGroupMessage" parameterType="String">
		CREATE TABLE pms.group_msg${value} (
		   msg_id varchar(50) NOT NULL, 
		   receiver_token_id varchar(100) NOT NULL, 
		   PRIMARY KEY (msg_id,receiver_token_id)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8
	</update>
	
	<select id="selectAck" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM pms.ack${value}
	</select>
	
	<update id="createAck" parameterType="String">
		CREATE TABLE pms.ack${value} (
		  msg_id varchar(50) NOT NULL ,
		  ack_type varchar(10) NOT NULL ,
		  token_id varchar(100) DEFAULT NULL,
		  ack_time datetime DEFAULT NULL,
		  issue_time datetime DEFAULT NULL,
		  issue_id VARCHAR(100),
		  server_id varchar(10) DEFAULT NULL,
		  callback_status tinyint(1)  DEFAULT 0,
		  callback_count int(10)  DEFAULT 0,
		  PRIMARY KEY (msg_id,ack_type,token_id)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8
	</update>		

</mapper>	