<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.adflow.pms.domain.mapper.UserMapper">

	<resultMap id="UserResult" type="kr.co.adflow.pms.domain.User">
		<result property="userId" column="user_id" />
		<result property="password" column="password" />
		<result property="userName" column="user_name" />
		<result property="role" column="role" />
		<result property="ipFilters" column="ip_filters" />
		<result property="status" column="status" />
		<result property="msgCntLimit" column="message_count_limit" />
		<result property="defaultExpiry" column="default_expiry" />
		<result property="defaultQos" column="default_qos" />
		<result property="msgSizeLimit" column="message_size_limit" />
		<result property="callbackUrl" column="callback_url" />
		<result property="callbackMethod" column="callback_method" />
		<result property="callbackCntLimit" column="callback_count_limit" />
		<result property="issueTime" column="issue_time" />
		<result property="issueId" column="issue_id" />
		<result property="applicationToken" column="application_token" />
		<result property="ufmi" column="ufmi" />
		<result property="saId" column="sa_id" />
		<result property="groupTopics" column="group_topics" />
	</resultMap>

	<insert id="insertUser" parameterType="kr.co.adflow.pms.domain.User">
		INSERT INTO pms.user
		(user_id
		,role
		,password
		,user_name
		,ip_filters
		,status
		,message_count_limit
		,default_expiry
		,default_qos
		,message_size_limit
		,callback_url
		,callback_method
		,callback_count_limit
		,issue_time
		,issue_id
		,ufmi
		,sa_id
		,group_topics
		)
		values(
		#{userId}
		,#{role}
		,#{password}
		,#{userName}
		,#{ipFilters}
		,#{status}
		,#{msgCntLimit}
		,#{defaultExpiry}
		,#{defaultQos}
		,#{msgSizeLimit}
		,#{callbackUrl}
		,#{callbackMethod}
		,#{callbackCntLimit}
		,now()
		,#{issueId}
		,#{ufmi}
		,#{saId}
		,#{groupTopics}
		)
	</insert>

	<select id="select" parameterType="String" resultMap="UserResult">
		SELECT
		a.user_id
		, a.role
		, a.user_name
		, a.ip_filters
		, a.status
		, a.message_count_limit
		, a.default_expiry
		, a.default_qos
		, a.message_size_limit
		, a.callback_url
		, a.callback_method
		, a.callback_count_limit
		, a.issue_time
		, a.issue_id
		, a.ufmi
		, a.sa_id
		, a.group_topics
        , b.token_id as application_token
		FROM pms.user a, pms.token b
		WHERE
        a.user_id = b.user_id
        AND b.token_type = 'A'
		AND a.user_id = #{userId}
	</select>

	<select id="listAll" parameterType="String" resultMap="UserResult">
		SELECT
		a.user_id
		, a.role
		, a.user_name
		, a.ip_filters
		, a.status
		, a.message_count_limit
		, a.default_expiry
		, a.default_qos
		, a.message_size_limit		
		, a.callback_url		
		, a.callback_method		
		, a.callback_count_limit		
		, a.issue_time
		, a.issue_id
		, a.ufmi
		, a.sa_id
		, a.group_topics
		
		<!-- kicho change - 20150401 
		FROM pms.user
		-->
		<!-- kicho : application_token add [start] - 20150401 -->
		, b.token_id as application_token
		FROM pms.user a, pms.token b
		WHERE
        a.user_id = b.user_id
        AND b.token_type = 'A'
		<!-- kicho : appkey add [end] - 20150401 -->
		
		
		
	</select>

	<resultMap id="AuthResult" type="kr.co.adflow.pms.domain.User">
		<result property="userId" column="user_id" />
		<result property="role" column="role" />
		<result property="ufmi" column="ufmi" />
		<result property="groupTopics" column="group_topics" />
	</resultMap>

	<select id="selectAuth" parameterType="kr.co.adflow.pms.domain.User"
		resultMap="AuthResult">
		SELECT user_id, role, ufmi, group_topics
		FROM pms.user a
		WHERE a.user_id = #{userId}
		AND a.password = #{password}
	</select>

	<update id="updateUserStatus" parameterType="kr.co.adflow.pms.domain.User">
		UPDATE pms.user
		SET
		status = #{status}
		, issue_time = now()
		, issue_id = #{issueId}
		WHERE
		user_id = #{userId}
	</update>

	<update id="updateUser" parameterType="kr.co.adflow.pms.domain.User">
		UPDATE pms.user
		SET role = #{role}
		,user_name = #{userName}
		,ip_filters = #{ipFilters}
		,status = #{status}
		,message_count_limit = #{msgCntLimit}
		,default_expiry = #{defaultExpiry}
		,default_qos = #{defaultQos}
		,message_size_limit = #{msgSizeLimit}
		,callback_url = #{callbackUrl}
		,callback_method = #{callbackMethod}
		,callback_count_limit = #{callbackCntLimit}
		,issue_time = now()
		,issue_id = #{issueId}
		,ufmi = #{ufmi}
		,sa_id = #{saId}
		,group_topics = #{groupTopics}
		
		WHERE user_id = #{userId}
	</update>

	<delete id="deleteUser" parameterType="String">
		DELETE FROM pms.user
		WHERE user_id = #{userId}
	</delete>

	<insert id="logUserHistory" parameterType="kr.co.adflow.pms.domain.User">
		INSERT INTO pms.user_h
		(user_id
		,role
		,password
		,user_name
		,ip_filters
		,status
		,message_count_limit
		,default_expiry
		,default_qos
		,message_size_limit		
		,callback_url		
		,callback_method		
		,callback_count_limit		
		,issue_time
		,issue_id
		,action
		,ufmi
		,sa_id
		,group_topics
		)
		values(
		#{userId}
		,#{role}
		,#{password}
		,#{userName}
		,#{ipFilters}
		,#{status}
		,#{msgCntLimit}
		,#{defaultExpiry}
		,#{defaultQos}
		,#{msgSizeLimit}		
		,#{callbackUrl}		
		,#{callbackMethod}		
		,#{callbackCntLimit}		
		,now()
		,#{issueId}
		,#{action}
		,#{ufmi}
		,#{saId}
		,#{groupTopics}
		)
	</insert>
	
	<select id="getMsgCntLimit" parameterType="String" resultType="int">
		SELECT a.message_count_limit
		FROM pms.user a
		WHERE
		a.user_id = #{userId}
	</select>
	
	<update id="updateMsgCntLimit" parameterType="kr.co.adflow.pms.domain.User">
		UPDATE pms.user
		SET message_count_limit = #{msgCntLimit}
		,issue_time = now()
		,issue_id = #{issueId}
		WHERE user_id = #{userId}
	</update>
	
	<update id="discountMsgCntLimit" parameterType="kr.co.adflow.pms.domain.User">
		UPDATE pms.user
		SET message_count_limit = message_count_limit <![CDATA[-]]> #{msgCntLimit}
		,issue_time = now()
		,issue_id = #{userId}
		WHERE user_id = #{userId}
	</update>
	
	<update id="updatePassword" parameterType="kr.co.adflow.pms.domain.User">
		UPDATE pms.user
		SET password = #{password}
		,issue_time = now()
		,issue_id = #{issueId}
		WHERE user_id = #{userId}
	</update>
	
	<select id="selectUfmi" parameterType="String" resultType="String">
		SELECT ufmi
		FROM pms.user
		WHERE
		user_id = #{userId}
	</select>
	
</mapper>	