<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.adflow.pms.domain.mapper.ValidationMapper">

	<select id="validPhoneNo" parameterType="String" resultType="boolean">
		SELECT CASE WHEN count(*) > 0 
		THEN TRUE ELSE FALSE END AS result
		FROM push.user 
        WHERE userid = #{phoneNo}
        AND ufmi IS NOT NULL
	</select>

	<select id="validUfmiNo" parameterType="String" resultType="boolean">
		SELECT CASE WHEN count(*) > 0 
		THEN TRUE ELSE FALSE END AS result
		FROM push.user 
        WHERE ufmi = #{ufmiNo}
	</select>

</mapper>	