<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.adflow.push"
    android:versionCode="11"
    android:versionName="1.0.11">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="kr.co.adflow.push.service.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name="kr.co.adflow.push.service.impl.PushServiceImpl"
            android:enabled="true"
            android:exported="true">
            <!--android:process=":remote"-->
            <intent-filter>
                <action android:name="kr.co.adflow.push.service.PushService"></action>
            </intent-filter>
        </service>
        <!-- <service android:name="kr.co.adflow.push.service.impl.PushServiceImpl" /> -->
        <receiver android:name="kr.co.adflow.push.receiver.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.bns.pw.action.REG_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
