<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>

	<!-- Ack 날짜별 트랜잭션로그 파일 생성 -->
	<appender name="ackLogFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- <param name="File" value="/cdrData/tranLog/ack.log" /> -->
		<param name="File" value="/Users/leechanho/DEV/ktp_4/temp/ack.log" />
		<param name="Append" value="true" />

		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n" />
		</layout>
	</appender>

	<!-- Message 날짜별 트랜잭션로그 파일 생성 -->
	<appender name="messageTrLogFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- <param name="File" value="//cdrData/tranLog/message.log" /> -->
		<param name="File" value="/Users/leechanho/DEV/ktp_4/temp/message.log" />
		<param name="Append" value="true" />
		<!-- param name="MaxFileSize" value="100MB"/ -->
		<!-- param name="MaxBackupIndex" value="2"></param -->
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n" />
		</layout>
	</appender>




	<!-- Application Loggers -->
	<logger name="kr.co.adflow.pms">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	<logger name="org.apache.ibatis">
		<level value="info" />
	</logger>

	<logger name="messageTrLogger">
		<level value="debug" />
		<appender-ref ref="messageTrLogFileAppender" />
	</logger>


	<logger name="ackLogger">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<!-- Root Logger -->
	<root>
		<priority value="debug" />
	</root>


</log4j:configuration>
