<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ADFPush-Device.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ADFPush-Simulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ADFPush-iOS9.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ADFPush.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ADFPushTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>221EA82E1BCCAFEA00F262D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>221F8A511BE35834007F6D0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>221F8A681BE359B8007F6D0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>221F8A7D1BE35A64007F6D0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22609B691BCCE7F100FA6408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
