<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<!-- xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd" -->

	<!-- Root Context: defines shared resources visible to all other web components -->

	<!-- <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource"> <property name="configLocation" 
		value="classpath:mybatis-config.xml"> </property> </property> </bean> <bean 
		id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"> <constructor-arg 
		ref="sqlSessionFactory"></constructor-arg> </bean> -->

	<!-- <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" 
		scope="singleton"> <property name="jndiName"> <value>java:comp/env/jdbc/push</value> 
		</property> <property name="resourceRef" value="true" /> </bean> -->

	<tx:annotation-driven />
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/push?useUnicode=true&amp;characterEncoding=utf8" />
		<property name="username" value="root" />
		<property name="password" value="passw0rd" />
	</bean>

	<bean id="dataSourceBSBank"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/push?useUnicode=true&amp;characterEncoding=utf8" />
		<property name="username" value="root" />
		<property name="password" value="passw0rd" />
	</bean>



	<!-- 트랜잭션 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="transactionManagerBSBank"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceBSBank" />
	</bean>

	<!-- <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource" /> <property name="typeAliasesPackage" 
		value="kr.co.adflow.push.mapper" /> <property name="mapperLocations" value="classpath:kr/co/adflow/push/mapper/*.xml" 
		/> </bean> -->

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 아래부분은 매핑할 xml파일이 있는 패키지경로를 설정한다. -->
		<property name="typeAliasesPackage" value="kr.co.adflow.push.mapper" />
		<property name="mapperLocations" value="classpath:kr/co/adflow/push/mapper/*.xml" />
	</bean>

	<bean id="bsBanksqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceBSBank" />
		<!-- 아래부분은 매핑할 xml파일이 있는 패키지경로를 설정한다. -->
		<property name="typeAliasesPackage" value="kr.co.adflow.push.ktp.mapper" />
		<property name="mapperLocations"
			value="classpath:kr/co/adflow/push/ktp/mapper/*.xml" />
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="bsBanksqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="bsBanksqlSessionFactory" />
	</bean>

	<context:component-scan base-package="kr.co.adflow" />
</beans>