<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.adflow.push.mapper.PollMapper">
	<insert id="post" parameterType="kr.co.adflow.push.domain.bsbank.Poll">
		INSERT INTO
		poll (title, start,
		end, responses, status) values (
		#{title}, #{start}, #{end},
		#{responses}, #{status}
		)
		<selectKey keyProperty="id" resultType="Integer" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
	</insert>

	<delete id="delete" parameterType="java.lang.Integer">
		DELETE from poll WHERE
		id=#{id}
	</delete>

	<insert id="postAnswer" parameterType="map">
		INSERT INTO
		answer values (
		#{id}, #{answerid}, #{content}
		)
	</insert>


	<insert id="postResponse" parameterType="map">
		INSERT INTO
		response
		values
		(
		#{id}, #{answerid}, #{userid}
		)
	</insert>

	<resultMap id="PollResult" type="kr.co.adflow.push.domain.bsbank.Poll">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="start" column="start" />
		<result property="end" column="end" />
		<result property="responses" column="responses" />
		<result property="status" column="status" />
	</resultMap>

	<select id="getPolls" resultMap="PollResult">
		SELECT * FROM poll
	</select>

	<select id="get" parameterType="java.lang.Integer"
		resultType="kr.co.adflow.push.domain.bsbank.Poll">
		SELECT * FROM poll where id =
		#{id}
	</select>

	<resultMap id="AnswerResult" type="kr.co.adflow.push.domain.bsbank.Answer">
		<result property="id" column="id" />
		<result property="answerid" column="answerid" />
		<result property="content" column="content" />
	</resultMap>

	<select id="getAnswers" parameterType="java.lang.Integer"
		resultMap="AnswerResult">
		SELECT * FROM answer where id = #{id}
	</select>

	<resultMap id="ResponseResult" type="kr.co.adflow.push.domain.bsbank.PollResponse">
		<result property="answerid" column="answerid" />
		<result property="count" column="count" />
	</resultMap>

	<select id="getResults" parameterType="java.lang.Integer"
		resultMap="ResponseResult">
		select answerid,count(*) count from response where id =
		#{id}
		group by answerid
	</select>

	<update id="putResponseCount" parameterType="java.lang.Integer">
		UPDATE poll set
		responses = responses + 1 where id = #{id}
	</update>
</mapper>	
	
	