<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.adflow.push.mapper.RoleMapper">

	<resultMap id="RoleResult" type="kr.co.adflow.push.domain.Role">
		<result property="role" column="role" />
		<result property="menu" column="menu" />
		<result property="auth" column="auth" />
	</resultMap>

	<select id="get" parameterType="java.lang.String" resultMap="RoleResult">
		SELECT * FROM role WHERE role = #{role}
	</select>

</mapper>	
	
	