<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.adflow.push.mapper.UserMapper">

	<select id="get" parameterType="java.lang.String" resultType="kr.co.adflow.push.domain.User">
		SELECT * FROM user WHERE userid =
		#{userID}
	</select>

	<resultMap id="UserResult" type="kr.co.adflow.push.domain.User">
		<result property="userID" column="userid" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="title" column="title" />
		<result property="dept" column="dept" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="role" column="role" />
	</resultMap>

	<select id="getAdmin" resultMap="UserResult">
		SELECT * FROM user WHERE admin =
		1
	</select>

	<select id="getAllUser" resultMap="UserResult">
		SELECT * FROM user
	</select>

	<insert id="post" parameterType="kr.co.adflow.push.domain.User">
		INSERT INTO
		user values(
		#{userID}, #{password}, #{name}, #{title}, #{dept}, #{email},
		#{phone}, #{role}
		)
	</insert>

	<update id="put" parameterType="kr.co.adflow.push.domain.User">
		UPDATE user
		set name = #{name},
		title = #{title}, dept = #{dept}, email = #{email},
		phone = #{phone},
		admin = #{admin} where userid =#{userID}
	</update>

	<delete id="delete" parameterType="java.lang.String">
		DELETE from
		user
		WHERE
		userid=#{userID}
	</delete>

	<select id="auth" parameterType="kr.co.adflow.push.domain.User"
		resultType="boolean">
		SELECT CASE WHEN count(*) > 0
		THEN 1 ELSE 0 END From user
		where userid = #{userID} and password =
		#{password}
	</select>
</mapper>	
	
	