<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.adflow.push.client">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="kr.co.ktpowertel.push.digAccountInfo" />
                <action android:name="kr.co.ktpowertel.push.fwUpdateInfo" />
                <action android:name="kr.co.ktpowertel.push.userMessage" />
                <action android:name="kr.co.ktpowertel.push.mms" />
                <action android:name="kr.co.ktpowertel.push.connStatus" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
