<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss.SSS} [%t] %-5p: %c - %m%n" />
		</layout>
	</appender>

	<!-- 날짜별 로그 -->
	<appender name="tomcatfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="/var/log/tomcat/tomcat.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<!-- <param name="DatePattern" value="'.'yyyy-MM-dd-HH-mm" /> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%t> [%d{yyyy-MM-dd HH:mm:ss}] [%c{1}] [%L] [%p] %m %n" />
		</layout>
	</appender>


	<!-- Application Loggers -->
	<logger name="kr.co.adflow.push">
		<level value="${log.level}" />
	</logger>
	<!-- <level value="${log.level}" /> -->

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework.context">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework.web">
		<level value="INFO" />
	</logger>

	<!-- Root Logger -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="tomcatfile" />
	</root>

</log4j:configuration>
